.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: darkslategray !important; /*navbar altered so it will change colour when the mouse hovers over, marked important so it isnt overwritten*/
}

.bg-1 {
  background-color: darkslategray; /*Dark slate grey*/
  color: #ffffff;
}
.bg-2 {
  background-color: #474e5d; /*Dark Slate Grey*/
  color: #ffffff;
}
.bg-3 {
  background-color: #ffffff;
  color: #555555;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

  .bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
  }

.margin
 {margin-bottom: 45px;}

 img {
  opacity: 1.0; /*added opacity to my images*/
}

img:hover {
  opacity: 0.5; /*altered opacity so images dims when mouse hovers over to also signify that they are clickable links*/
}